@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.button--pink {
  @apply border h-8 leading-7 rounded-3xl text-center px-6 text-sm border-hibye-80 text-hibye-80 hover:bg-hibye-80 hover:text-hibye-10;
}
