@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
