@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.button--pink {
  @apply border h-8 leading-7 rounded-3xl text-center px-6 text-sm border-hibye-80 text-hibye-80 hover:bg-hibye-80 hover:text-hibye-10 duration-300 cursor-pointer;
}

.button--pink--save {
  @apply text-center px-6 text-lg  h-10 w-80 leading-10 rounded-lg bg-hibye-80 border text-hibye-10 hover:bg-hibye-100 hover:text-hibye-20 duration-300 cursor-pointer;
}

textarea {
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
