.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.mypageContainer {
  background-color: #fbfbfb;
  width: 100vw;
  height: 90vh;
  padding: 5%;
}

.userinfoContainer {
  background-color: #fbfbfb;
  position: absolute;
  width: 434px;
  height: 345px;
  left: 314px;
  top: 205px;
}

.username {
  position: absolute;
  width: 185px;
  height: 21px;
  left: 20px;
  top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #d70569;
}
.editbtn {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #fbfbfb;
  border: 2px solid #d70569;
  box-sizing: border-box;
}
.editbtn:hover {
  opacity: 0.9;
  transform: scale(0.97);
}

.email {
  position: absolute;
  width: 89px;
  height: 16px;
  left: 20px;
  top: 87px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ff96af;
}
.emailinfo {
  position: absolute;
  width: 187px;
  height: 16px;
  left: 214px;
  top: 87px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #666666;
}
.lover {
  position: absolute;
  width: 36px;
  height: 16px;
  left: 20px;
  top: 131px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ff96af;
}

.loverusername {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 214px;
  top: 131px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #666666;
}

.wesaidhi {
  position: absolute;
  width: 86px;
  height: 16px;
  left: 20px;
  top: 175px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ff96af;
}
.choosedate {
  position: absolute;
  width: 200px;
  height: 32px;
  left: 215px;
  top: 167px;

  background: #efefef;
  border-radius: 16px;
}

.wesaidbye {
  position: absolute;
  width: 96px;
  height: 16px;
  left: 20px;
  top: 219px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ff96af;
}
.byebtn {
  position: absolute;
  width: 200px;
  height: 32px;
  left: 214px;
  top: 211px;

  border: 1px solid #d70569;
  box-sizing: border-box;
  border-radius: 16px;
}
.byebtn:hover {
  opacity: 0.9;
  transform: scale(0.97);
}

.byebtnmsg {
  position: absolute;
  width: 116px;
  height: 14px;
  left: 256px;
  top: 220px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;

  color: #d70569;
}

.changepw {
  position: absolute;
  width: 112px;
  height: 16px;
  left: 20px;
  top: 283px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #cccccc;
}
.changepw:hover {
  text-decoration-line: underline;
}

.deleteacc {
  position: absolute;
  width: 94px;
  height: 16px;
  left: 20px;
  top: 309px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #cccccc;
}
.deleteacc:hover {
  text-decoration-line: underline;
}
